<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta http-equiv="X-UA-Compatible" content="ie=edge"/>
<meta name="theme-color" content="#478079" >
<link rel="preconnect" href="https://www.googletagmanager.com">

<!-- endinject -->
<title>{{ .Site.Data.homepage.head.title }}</title>
<meta name="description" content="{{ .Site.Data.homepage.head.description }}">

<!-- Google tag (gtag.js), google analytics -->
<script defer src="https://www.googletagmanager.com/gtag/js?id=UA-465407-4"></script>
{{ $analytics := resources.Get "js/analytics.js" | resources.Minify }}
<script defer src="{{ $analytics.Permalink }}"></script>
